<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link rel="icon" href="favicon.ico" type="image/x-icon"/>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
   </head>

   <body>
      <div class="container">
        <h2>API Project: URL Shortener Microservice</h2>
        <h4>Project from freeCodeCamp. </h4>  
        <h3>Use submit form to shorten!</h3>
        <p>
          example: <code>https://url-shortener1-project.glitch.me/api/shorturl/new/https://www.freecodecamp.com</code><br>
        </p>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.com">
          <input type="submit" value="POST URL">
        </form>
        <h3>Shortened url:</h3>
        <a href="https://url-shortener1-project.glitch.me/api/shorturl/d8e0">
          https://url-shortener1-project.glitch.me/api/shorturl/d8e0
        </a>

        <h3>Will Redirect to:</h3>
        <p>https://www.freecodecamp.com</p>
      </div>
      <div class="footer">
        <p>
          Check out my other projects on <a href="http://www.codepen.io/Waymans" target="_blank">Codepen</a>.
        </p>
      </div>
   </body>


</html>
